/* Home.css */


.container {
    display: grid;
    grid-template-columns: auto; /* Define the number and size of columns */
    grid-template-rows: auto; /* Define the number and size of rows */
      
  }
  
  .btn.frame {
    all: unset;
    background: linear-gradient(
        90deg,
        rgb(148.2, 179.82, 248.04) 2%,
        rgb(144.46, 154.12, 241.08) 14.5%,
        rgb(143.53, 131.56, 217.07) 30.5%,
        rgb(64.64, 0, 248.63) 87%
    );
    border-radius: 5px;
    color: #ffffff; /* Set the text color to white */
    cursor: pointer;
    margin: 0 auto; 
    display: block; 
    text-decoration: none;
    align-items: center;
    padding: 10px 20px; /* Adjust padding for bigger buttons */
    font-size: 16px; /* Adjust font size for bigger buttons */
}


.ellipse {
    background: radial-gradient(50% 50% at 50% 50%, rgb(73.31, 73.31, 85) 0%, rgb(20.19, 20.19, 20.19) 100%);
    border-radius: 32px;
    filter: blur(20px);
    height: 64px;
    position: relative; /* Changed position to fixed */
    width: 64px;
  }
  
  .ellipse1 { top: 0; left: 0; }
  .ellipse2 { top: 0; right: 0; }
  .ellipse3 { bottom: 0; left: 4px; } /* Adjusted left position */
  .ellipse4 { bottom: 0; right: 5px; } /* Adjusted right position */
  .ellipse5 { top: 50%; left: 0; transform: translateY(-50%); }
  .ellipse6 { top: 50%; right: 0; transform: translateY(-50%); }
  .ellipse7 { top: 0; left: 50%; transform: translateX(-50%); }
  .ellipse8 { bottom: 0; left: 50%; transform: translateX(-50%); }
  .ellipse9 { top: 25%; left: 25%; transform: translate(-25%, -25%); }
  .ellipse10 { top: 75%; left: 75%; transform: translate(-75%, -75%); }
  

  .get{
    display: flex;
    margin-top: 100px;
  }
  
  