.operations-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.command-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}

.upload-widget {
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.upload-widget p {
  margin-top: 20px;
}

.operations-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.operations-buttons button {
  width: 70%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.operations-buttons button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.additional-options,
.user-options {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
}

.additional-options button,
.user-options button {
  width: 70%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.additional-options button:hover,
.user-options button:hover {
  background-color: #218838;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-slider-container {
  width: 70vw;
  height: 40vw;
  margin: auto;
  margin-right: 20px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.prompt,
.prompts {
  margin-top: 20px;
}

.prompt input,
.prompts input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.user-options button {
  width: 70%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 10px; /* Add margin to create space between buttons */
}

.user-options button:hover {
  background-color: #218838;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
