.dashboard-container {
  display: flex;
  justify-content: center;
}

.image-container {
  width: 520px;
  height: 520px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  width: auto;
  height: auto;
  max-width: 100%; /* Ensure the image does not exceed its container width */
  max-height: 100%; /* Ensure the image does not exceed its container height */
  overflow: hidden; /* Hide any overflow */
  margin-top: 10px; /* Add margin to separate the image from the title */
}

.loading-message {
  font-style: italic;
  text-align: center;
}


