.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: left;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.buttonwrapper .btn-primary:hover {
  color: black;
}
.forgot-password-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.card-body {
  max-width: 400px;
  border-radius: 10px;
  background-color: #1c1c1e;
  color: white;
  margin-top: 15%;
}

.buttonwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .auth-form {
    margin-top: 60px; /* Adjust for smaller screens */
  }
}
