.justify-content-center {
  background-color: #1c1c1e;
}

.auth-form {
  margin-top: 80px; /* Adjust this value as needed */
  padding: 20px;
  background-color: #c92626;
  border-radius: 8px;
}

@media (max-width: 576px) {
  .auth-form {
    margin-top: 60px; /* Adjust for smaller screens */
  }
}
