/* Image placeholder style in dashboard.js */

.custom-placeholder {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
  height: 100%;
  background-color: #1c1c1e;
  border: 2px #ccc;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
}
