body {
  background-color: black;
}

.navbar-container {
  margin-bottom: 90px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 82px;
  background-color: black;
  transition: background-color 0.3s ease;
  z-index: 1000;
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar-brand {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Poller One", sans-serif;
}
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.menu-icon-line {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: 0.4s;
}
.menu-icon-line.open:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.menu-icon-line.open:nth-child(2) {
  opacity: 0;
}
.menu-icon-line.open:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.contbut {
  display: flex;
  align-items: center;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}
.nav-link,
.btn {
  margin-left: 10px;
  text-decoration: none;
  width: 50%;
}
.btn {
  all: unset;
  background: linear-gradient(
    90deg,
    rgb(148.2, 179.82, 248.04) 2%,
    rgb(144.46, 154.12, 241.08) 14.5%,
    rgb(143.53, 131.56, 217.07) 30.5%,
    rgb(64.64, 0, 248.63) 87%
  );
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 12px 28px;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .contbut {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 82px;
    left: 0;
  }
  .contbut.open {
    display: flex;
    animation: slide-down 0.3s forwards;
    width: 100%;
  }
  .contbut.closing {
    animation: slide-up 0.3s forwards;
  }
  .nav-link,
  .btn {
    width: 50%;
    text-align: center;
    margin: 10px 0;
    padding: 8px 20px; /* Adjusted padding for smaller buttons */
  }
  .menu-icon {
    display: flex;
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
