/* reset-password.css */

  .card {
    width: 50%; /* Adjust card width as needed */
    background-color: #17171b; /* Background color */
    color: white; /* Text color */
    border-radius: 20px; /* Border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
  }
  
  .card-body {
    padding: 20px;
  }
  
  .error-message,
  .success-message {
    margin-top: 1rem; /* Add top margin for spacing */
    color: indianred; /* Error message color */
  }
  
  .form-label {
    color: white; /* Label text color */
  }
  
  .form-control {
    background-color: white; /* Input background color */
    color: black; /* Input text color */
    border: none; /* Remove input border */
  }
  
  .form-control:focus {
    box-shadow: none; /* Remove focus box shadow */
  }
  
  .btn-primary {
    background: linear-gradient(
      90deg,
      rgb(148.2, 179.82, 248.04) 2%,
      rgb(144.46, 154.12, 241.08) 14.5%,
      rgb(143.53, 131.56, 217.07) 30.5%,
      rgb(64.64, 0, 248.63) 87%
    ); /* Button gradient background */
    border-radius: 5px; /* Button border radius */
    color: #ffffff; /* Button text color */
    cursor: pointer;
    padding: 12px 28px; /* Button padding */
    text-decoration: none;
    margin-top: 1rem; /* Add top margin for spacing */
  }
  
  .btn-primary:hover {
    filter: brightness(110%); /* Button hover effect */
  }
  


/* .reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: left;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.reset-password-form label {
    display: block;
    margin-bottom: 5px;
}

.reset-password-form input[type="password"] {
    display: block;
    width: 100%;
}

.reset-password-form input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.reset-password-form input[type="submit"] {
    cursor: pointer;
}

.reset-password-form a {
    text-decoration: none;
    color: blue;
}

.reset-password-heading,
.reset-password-text {
    display: block;
    text-align: left;
    margin: 0;  
    padding: 0; 
} */