.signup-form {
    margin-top: 80px; /* Adjust this value as needed */
    padding: 20px;
    background-color:#1C1C1E;
    border-radius: 8px;
  }
  .buttonwrapper .btn-primary:hover {
    color: black;
  }

  .signup-form h2 {
    color: white;
    padding-bottom: 20px;
  }
  
  .signup-form p {
    color: white;
  }

  .passwordstyle {
    padding-bottom: 20px;
  }

  .buttonwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .condition-met {
    color: lime;
  }

  .condition-unmet {
    color: indianred;
  }

  .custom-margin .form-control {
    margin-bottom: 1px; 
  }

  @media (max-width: 576px) {
    .signup-form {
      margin-top: 60px; 
    }
  }