#upload-button-container{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#upload-button {
  background-color: rgb(211, 233, 90);
}

#text-color {
  color: rgb(11, 10, 31);
  font-weight: bold;
  font-size: large;
}
